<div id="featured-items">
	<div class="columns large-12 research-main-band overlay" id="featured-LID">
		<div class="columns small-12" id="LID-text">
			<div class="columns large-4 medium-12">
				<h1> Campus LID Project</h1>
				<p>	The Campus LID Project brought together a diverse group of organizations to create significant environmental and social improvements through designing and installing a variety of LID BMPs that fit into existing infrastructure and creating ongoing educational opportunities for the public, university students, stormwater professionals, and construction contractors. </p>

			</div>
			<div class="columns large-8 medium-12">
				<h3> OWP is the 2015 Urban Development Project Award Winner!</h3>
				<p>	The American Society of Civil Engineers (ASCE) Sacramento Section awarded the 2015 Urban Development Project of the Year to the Campus LID Project! We are very proud of our team that worked to make this project such a success.</p>
				<a href="/research/featured-items/campus-lid-project/background/">
					<h4 class='{{ if eq .Title "Background" }} light-lid-sub-header {{ end }} lid-sub-header'>Background
					</h4>
				</a>
				<a href="/research/featured-items/campus-lid-project/planning-and-design/">
					<h4 class='{{ if eq .Title "Planning and Design" }} light-lid-sub-header {{ end }} lid-sub-header'>
						Planning and Design
					</h4>
				</a>
				<a href="/research/featured-items/campus-lid-project/regional-lid/">
					<h4 class='{{ if eq .Title "Regional Lid" }} light-lid-sub-header {{ end }} lid-sub-header'>
						Regional LID Conference November 4, 2015
					</h4>
				</a>
				<a href="/research/featured-items/campus-lid-project/construction/">
					<h4 class='{{ if eq .Title "Construction" }} light-lid-sub-header {{ end }} lid-sub-header'>
						Construction
					</h4>
				</a>
				<a href="/research/featured-items/campus-lid-project/monitoring/">
					<h4 class='{{ if eq .Title "Monitoring" }} light-lid-sub-header {{ end }} lid-sub-header'> Monitoring </h4>
				</a>
				<a href="/research/featured-items/campus-lid-project/education-and-outreach/">
					<h4 class='{{ if eq .Title "Education and Outreach" }} light-lid-sub-header {{ end }} lid-sub-header'> Education and Outreach</h4>
				</a>
				<a href="/research/featured-items/campus-lid-project/awards/">
					<h4 class='{{ if eq .Title "Awards" }} light-lid-sub-header {{ end }} lid-sub-header'> Awards </h4>
				</a>
				<a href="/document/stormwater/lid/pdf/campus-lid-plant-list.pdf">
					<h4 class="lid-sub-header"> Plants</h4>
				</a>
			</div>
		</div>
	</div>
</div>