<section>
	
	<img alt="CASQA Logo" src="/img/icons/casqa_logo.png">

	<div style="margin-top:15px;">
		<span class="condition-highlight">Only one field required for search.</span>

		<label><b>Certificate </b>
			<select>
				<option>All</option>
				<option>QSP</option>
				<option>QSD and QSP</option>
			</select>
		</label>
		<label><b>Last Name </b>
			<input type="text" placeholder="Hornet">
		</label>
		<label><b>Certificate Number </b>
			<input type="text" placeholder="29000">
		</label>
		<label>
			<b style="float: left; margin-right: 10px;">Zip Code </b>
			<input type="text" maxlength="5" size="5"
			style="width:auto;float: left;margin-right: 10px;"
			placeholder="95819"> Miles
			<select style="width:auto;">
				<option>10</option>
				<option>25</option>
				<option>50</option>
			</select>

		</label>
		<a href="#" class="button success"> Search </a>
	</div>


	<a href="#"> <u>Report an issue with a QSD/QSP to the State Water Board.</u></a>
	
</section>