<div class="columns large-12 extra">
	<div class="columns large-4 medium-12" id="operator-thumbnail">
		<div class="thumbnail">
			<h3 class="operator-training-header-3 header"style="background: rgba(0, 100, 114, 1.0);">Operator Training Courses</h3>
		<br>
		<img src="/img/slides/placer-32.jpg" alt="Operator training">
		<hr>
		<p> Careers in water and wastewater plant operation offer great pay and benefits, room for advancement, and a stable, recession-proof job market. Our operator training couses give you the knowledge and certification you need to start a new career or enhance your existing one. <a href="/operator-training/">more info...</a></p>

		<hr>
		<ul>
			<li><a href="/operator-training/">How do I get started?</a></li>
			<li><a href="/operator-training/courses/correspondence-courses/drinking-water-courses/">Drinking Water Courses</a></li>
			<li><a href="/operator-training/courses/correspondence-courses/wastewater-courses/">Wastewater Courses</a></li>
			<li><a href="/operator-training/courses/correspondence-courses/management-courses/">Management Courses</a></li>
			<li><a href="/operator-training/courses/specialist-courses/water-treatment-specialist/">Water Treatment Specialist Certificate Program</a></li>
			<li><a href="/operator-training/courses/specialist-courses/wastewater-treatment-specialist/">Wastewater Treatment Specialist Certificate Program</a></li>
		</ul>

	</div>
</div>
<div class="columns large-4 medium-12" id="stromwater-thumbnail">
	<div class="thumbnail">
		<h3 class="header" style="background: rgba(0, 132, 83, 1.0);">Stormwater
			Training
		</h3>

		<ul>
			<li><a href="/stormwater-training/cgp/">California Construction General Permit</a></li>
			<li><a href="/stormwater-training/igp/">California Industrial General Permit</a></li>
			<li><a href="/stormwater-training/igp/">Stormwater BMP</a></li>
		</ul>
		<hr>
		<iframe width="100%" height="300px"
		src="https://www.youtube.com/embed/tXV5SV7gWQE?autoplay=0"
		frameborder="0" allow="autoplay; encrypted-media"
		allowfullscreen></iframe>
	</div>
</div>

<div class="columns large-4 medium-12" id="research-thumbnail">
	<div class="thumbnail">
		<h3 class="header" style=" background: rgba(138, 148, 30, 1.0);">
			Research
		</h3><br>
		<img src="/img/slides/bmp-planning.jpg" alt="Research group">
		<hr>
		<p>Our research group engineers and scientists perform and manage research efforts focused on characterizing water quality issues, including developing and testing methods to improve water quality. Our researchers provide:</p>
		<ul>
			<li><a href="#">Technical advice on water policy issues</a></li>
			<li><a href="#">Assistance in watershed planning</a></li>
			<li><a href="#">Cost assessments and data analysis and modeling</a> </li>
			<li><a href="#">Help in making informed decisions based on accurate information and good science</a></li>
		</ul>
	</div>
</div>
</div>