<div class="columns large-12 overlay" id="featured-EFC2">
	<div class="columns large-3">
		<img src="/svg/efc-sac-state-1-color.svg">
	</div>
	<div class="columns large-8" id="efc-intro">
		<h1> EFC at Sacramento State </h1>
		<p> EFC at California State University, Sacramento is a part of the USEPA EFC Network. Supporting and improving the capabilities of Region 9 by providing resource tools and on-site training and technical assistance related to financing and planning of environmental and public health programs in areas such as drinking water, wastewater, stormwater, groundwater, and solid waste management. <a href="http://www.efc.csus.edu/" target="_blank" rel="noopener" class="button success"> Learn more </a> </p>
	</div>
</div>