<section>
	<div id="glossary">
		<div id="glossary-wrapper">
			<div class="columns large-12">
				<div class="columns large-9 large-offset-1">
                    <h2 id="glossary_title">Glossary of Water and Wastewater Terms</h2>
                    <div id="glossary-firstLetters">
                        <!--
                        <a onclick="getTermList('A')">A</a>
                        <a onclick="getTermList('B')">B</a>
                        <a onclick="getTermList('C')">C</a>
                        <a onclick="getTermList('D')">D</a>
                        <a onclick="getTermList('E')">E</a>
                        <a onclick="getTermList('F')">F</a>
                        <a onclick="getTermList('G')">G</a>
                        <a onclick="getTermList('H')">H</a>
                        <a onclick="getTermList('I')">I</a>
                        <a onclick="getTermList('J')">J</a>
                        <a onclick="getTermList('K')">K</a>
                        <a onclick="getTermList('L')">L</a>
                        <a onclick="getTermList('M')">M</a>
                        <a onclick="getTermList('N')">N</a>
                        <a onclick="getTermList('O')">O</a>
                        <a onclick="getTermList('P')">P</a>
                        <a onclick="getTermList('Q')">Q</a>
                        <a onclick="getTermList('R')">R</a>
                        <a onclick="getTermList('S')">S</a>
                        <a onclick="getTermList('T')">T</a>
                        <a onclick="getTermList('U')">U</a>
                        <a onclick="getTermList('V')">V</a>
                        <a onclick="getTermList('W')">W</a>
                        <a onclick="getTermList('Y')">Y</a>
                        <a onclick="getTermList('Z')">Z</a>
                        -->
                    </div>
                    <div id="glossary-links">
                    
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>