<!DOCTYPE html>
<html lang="en-US" prefix="og: http://ogp.me/ns#">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="author" content="Jason Lau">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>{{ .Title }}</title>

	<link rel="icon" href="/css/favicon.ico" type="image/x-icon"/>
	<link rel="stylesheet" href="/css/foundation/6.3.1/foundation.min.css" type="text/css">
	<link rel="stylesheet" href="/css/fontawesome/pro/5.10.0/css/all.min.css" type="text/css">
    <link rel="stylesheet" href="/css/custom2.css" type="text/css">
	<link rel="stylesheet" href="/css/custom-media.css" type="text/css">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Oxygen">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway:300, 500, 700|Lato:400, 700|Montserrat:400, 700">
	<link rel="stylesheet" type="text/css" href="/slick-1.4.1/slick/slick.css"/>
	<link rel="stylesheet" type="text/css" href="/slick-1.4.1/slick/slick-theme.css"/>

    <script type="text/javascript" src="/js/jquery/3.4.1/jquery-3.4.1.min.js"></script>
	<script type="text/javascript" src="/js/foundation/6.3.1/foundation.js"></script>
	<script type="text/javascript" src="/slick-1.4.1/slick/slick.js"></script>
</head>
<body>
	<div class="row">
		<div class="columns small-12">
			<div class="sac-logo">
				<img src="/img/icons/logo-horizontal.png" alt="Sacramento State University">
			</div>
		</div>
	</div>
	<div id="water-program">
		<span id="menu" onclick="openNav()">
			<span> &#9776; Menu</span>
		</span>
		<span class="owp-logo"><a href="/"><img src="/svg/icons/OWP-Short-SacState-Logo-White.svg" width="325"
			height="48" alt="Water Programs at Sac State logo"></a>
		</span>
		<span id="userLogin">
			
		</span>
		<span id="cart">
		
		</span>
	</div>
	<div class="wrapper">

		<div id="side-nav" class="sidenav">
			<a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
			<ul class="menu" data-drilldown id="m1">
				<li></li>
				<li></li>
				<li><a href="/"><i class="fa fa-home"></i> Home</a></li>
				<li>
					<a href="#">Operator Training</a>
					<ul class="menu">
						<li class="menu-header">
							<a href="/operator-training/">
								Operator Training
							</a>
						</li>
						<li><a href="/operator-training/courses/correspondence-courses/drinking-water-courses/">Drinking Water Courses</a></li>
						<li><a href="/operator-training/courses/correspondence-courses/wastewater-courses/">Wastewater Courses</a></li>
						<li><a href="/operator-training/courses/correspondence-courses/management-courses/">Management Courses</a></li>
						<li><a href="/operator-training/courses/online-courses/">Online Courses</a></li>
						<li><a href="/operator-training/courses/math-courses/">Math Courses</a></li>
						<li><a href="/operator-training/courses/specialist-courses/water-treatment-specialist/">Water Treatment Specialist</a></li>
						<li><a href="/operator-training/courses/specialist-courses/wastewater-treatment-specialist/">Wastewater Treatment Specialist</a></li>
						<li><a href="/operator-training/faq/">FAQ</a></li>
						<li><a href="/operator-training/glossary/">Glossary</a></li>
						<li><a href="/operator-training/links/">Links</a></li>
					</ul>
				</li>
				<li>
					<a href="#">Research</a>
					<ul class="menu">
						<li class="menu-header">
							<a href="/research/">
								Research						
							</a>
						</li>
						<li><a href="/research/featured-items/">Featured Items</a></li>
						<li><a href="/research/stormwater/">Stormwater</a></li>
						<li><a href="/research/wastewater/">Wastewater</a></li>
						<li><a href="/research/soils-and-groundwater/">Soils & Groundwater</a></li>
						<li><a href="/research/software-tools/">Software Tools</a></li>
						<li><a href="/research/reports/stormwater/bmp/">Paper, Reports & Presentations</a></li>
						<li><a href="/research/staff/">Staff</a></li>
					</ul>
				</li>
				<li>
					<a href="#">Stormwater Training</a>
					<ul class="menu">
						<li class="menu-header">
							<a href="/stormwater-training/">
								Stormwater Training
							</a>
						</li>
						<li><a href="/stormwater-training/cgp/">Construction General Permit</a></li>
						<li><a href="/stormwater-training/igp/">Industrial General Permit</a></li>
						<li><a href="/stormwater-training/bmp/">Stormwater BMP Courses</a></li>
					</ul>
				</li>
				<li>
					<a href="#">Upcoming Events</a>
					<ul class="menu">
						<li class="menu-header">
							<a href="/upcoming-events/" >
								Upcoming Events
							</a>
						</li>						
						<li><a href="/upcoming-events/water-seminars/">Water Seminar Series</a></li>
					</ul>
				</li>
				<li>
					<a href="#">University Connection</a>
					<ul class="menu">
						<li class="menu-header">
							<a href="/university-connection/">
								University Connection
							</a>
						</li>
						<li><a href="/university-connection/owp-fellowship/">OWP Fellowship</a></li>
						<li><a href="/university-connection/srcsd-sasd-fellowship/">SRCSD-SASD-Fellowship</a></li>
						<li><a href="/university-connection/student-assistants/">Student Assistants</a></li>
						<li><a href="/university-connection/teaching/">Teaching</a></li>
					</ul>
				</li>
				<li>
					<a href="#">
						<div class="efclogo">
							<img src="/img/efc-sac-state-3-color.png">
						</div>
					</a>
				</li>
			</ul>
		</div>

		<center>
			<div id="main">