<section>
	<img alt="CASQA Logo" src="/img/icons/casqa_logo.png">
	<p>CASQA QISP Lookup</p>
	<div style="margin-top:15px;">


		<table class="unstriped" style="width:auto;">
			<tr>
				<td>
					<input type="text" placeholder="Last name or cert number">
				</td>
				<td> <button class="button success"> Search </button></td>
			</tr>

			<tr>
				<td><b>OR</b></td>
			</tr>

			<tr>
				<td><input type="text" placeholder="Zip code and distance" ></td>
				<th> + </th>
				<td><select>
					<option>10</option>
					<option>25</option>
					<option>50</option>
				</select>
			</td>
			<td><button class="button success"> Search </button></td>
		</tr> 


	</table>
	<a href="#"> <u>Report an issue with a QSD/QSP to the State Water Board.</u></a>
</section>