<section>
	<div class="content">
		<form id="research-content">
			<div class="row">
				<div class="large-12 columns">
					<div id="notification-update-panel"></div>
					{{ if or (eq .Params.Description "catalog") (eq .Params.Description "course detail")}}
                    {{ partial "operator-courses-tab.html" . }}
                    {{ else }}
                    {{ partial "operator-training-tabs.html" . }}
                    {{ end }}
                    <div class="tabs-content" data-tabs-content="research-tabs" id="panel">

                        {{ if eq .Params.Description "faq" }}
                        {{ partial "faq.html" . }}
                        {{ else }}
                        {{ if eq .Params.Description "course detail" }}
                        {{ partial "course-detail.html" . }}
                        {{ else }}
                        {{ if eq .Params.Description "glossary" }}
                        {{ partial "glossary.html" . }}
                        {{ else }}
                        {{ if eq .Params.Description "links" }}
                        {{ partial "links.html" . }}
                        {{ else }}

                        {{ if eq .Params.Description "catalog" }}
                        <h4 class="tab-header" style="background: rgba(0,114,120,1.0);">{{ .Params.title }}</h4>
                        <div class="columns large-12">
                            <div class="columns large-8 medium-10 small-10 large-offset-2 medium-offset-1 small-offset-1">
                                {{ .Content | markdownify }}
                            </div>
                        </div>
                        {{ if eq .Params.Title "Operator Math Courses" }}
                        <div class="columns large-8 medium-10 small-10 large-offset-2 medium-offset-1 small-offset-1">
                            {{ partial "catalog-template.html" . }}
                        </div>
                        {{ else }}
                        {{ partial "catalog-template.html" . }}
                        {{ end }}
                        {{ else }}
                        {{ partial "operator-training.html" . }}
                        {{ end }}
                        {{ end }}
                        {{ end }}
                        {{ end }}
                        {{ end }}
                        
                    </div>
                </div>
            </div>
        </form>
    </div>
</section>