<section>
<div class="columns large-12" id="research_str_bands">
    <div class="columns large-12 research-main-band overlay">
        <div class="columns large-10 medium-10 small-10" id="software-tools-content">
            <h1 style="color: rgba(0, 78, 56, 0.45);"> Software Tools</h1>
            <div class="columns large-12 medium-12 small-12">

                <div class="columns large-2 medium-2 small-4">
                    <img src="/img/icons/lid.jpg" alt="California Phase II Low Impact Development (LID) Sizing Tool Image"><br>
                    <p> California Phase II Low Impact Development (LID) Sizing Tool</p>
                </div>
                <div class="columns large-2 medium-2 small-4">
                    <img src="/img/icons/basinsizer_lrg.png" alt="Basin Sizer Tool Image"><br>
                    <p>Basin Sizer</p>
                </div>
                <div class="columns large-2 medium-2 small-4">
                    <img src="/img/icons/hat-icon.png" alt="Hydrologic Analysis Tool Image"width="160" height="160"><br>
                    <p>Hydrologic Analysis Tool</p></div>
                    <div class="columns large-2 medium-2 small-4">
                        <img src="/img/icons/struviteTool02.jpg" alt="Struvite Tool Image"><br>
                        <p>Struvite Tool</p>
                    </div>
                    <div class="columns large-2 medium-2 small-4">
                        <img src="/img/icons/wqpt-2013.jpg" alt="Water Quality Planning Tool Image"><br>
                        <p>Water Quality Planning Tool</p>
                    </div>
                    <div class="columns large-2 medium-2 small-4">
                        <img src="/img/icons/arbswrp.jpg" alt="American River Basin Stormwater Resource Plan Web Map"><br>
                        <p>American River Basin Stormwater Resource Plan—Web Map</p>
                    </div>

                </div>
            </div>
            <div class="columns large-2 medium-2 small-2 arrow" style="background-color: whitesmoke; height:100%;">
                <a href="/research/software-tools/"> <i class="fa fa fa-angle-right"></i></a>
            </div>
        </div>
    </div>

    <div class="columns large-12 medium-12" id="research-band-small-screen">
        <div class="columns large-12 research-main-band overlay">
            <div class="columns large-10 medium-10 small-10" id="software-tools-content">
                <h1 style="color: rgba(0, 78, 56, 0.45);"> Software Tools</h1>
                <div class="columns large-12 medium-12 small-12">

                    <div class="columns large-2 medium-2 small-4">
                        <img src="/img/icons/lid.jpg" alt="California Phase II Low Impact Development (LID) Sizing Tool Image"><br>
                        <p> California Phase II Low Impact Development (LID) Sizing Tool</p>
                    </div>
                    <div class="columns large-2 medium-2 small-4">
                        <img src="/img/icons/basinsizer_lrg.png" alt="Basin Sizer Tool Image"><br>
                        <p>Basin Sizer</p>
                    </div>
                    <div class="columns large-2 medium-2 small-4">
                        <img src="/img/icons/hat-icon.png" alt="Hydrologic Analysis Tool Image"width="160"height="160"><br>
                        <p>Hydrologic Analysis Tool</p></div>
                        <div class="columns large-2 medium-2 small-4">
                            <img src="/img/icons/struviteTool02.jpg" alt="Struvite Tool Image"><br>
                            <p>Struvite Tool</p>
                        </div>
                        <div class="columns large-2 medium-2 small-4">
                            <img src="/img/icons/wqpt-2013.jpg" alt="Water Quality Planning Tool Image"><br>
                            <p>Water Quality Planning Tool</p>
                        </div>
                        <div class="columns large-2 medium-2 small-4">
                            <img src="/img/icons/arbswrp.jpg" alt="American River Basin Stormwater Resource Plan Web Map"><br>
                            <p>American River Basin Stormwater Resource Plan—Web Map</p>
                        </div>

                    </div>
                </div>
                <div class="columns large-2 medium-2 small-2 arrow" style="background-color: whitesmoke; height:100%;">
                    <a href="/research/software-tools/"> <i class="fa fa fa-angle-right"></i></a>
                </div>
            </div>
        </div>
    </section>