<div class="columns large-12" id="research_str_bands">
	<div class="columns large-12 research-main-band overlay" id="staff-research-band">
		<div class="columns small-2 arrow large-offset-10">
			<a href="/research/staff/"> <i class="fa fa fa-angle-right" style="color: rgba(240, 225, 176, 0.65);"></i></a>
		</div>
	</div>
</div>
<div id="research-band-small-screen">
	<div class="columns large-12 research-main-band overlay" id="staff_pictures">
		<div class="columns small-offset-10 small-2 arrow">
			<a href="/research/staff/"> <i class="fa fa fa-angle-right"></i></a>
		</div>
	</div>
	<div class="columns large-12 research-main-band" id="staff_pictures_small">
		<div class="columns small-10">
			<img src="/img/owp_group_kens_bike_2.jpg">
		</div>
		<div class="columns small-2 arrow">
			<a href="/research/staff/"> <i class="fa fa fa-angle-right"></i></a>
		</div>
	</div>
</div>