<div class="columns large-12" id="research_str_bands">
   <div class="columns large-12 research-main-band overlay" style="background-image: url('/img/owp-large-image-03.jpg');">
    <div class="columns large-4 small-4" id="featured-item-text">
        <h1> Featured Items </h1>
        <p> The Campus LID Project brought together a diverse group of organizations to create significant environmental and social improvements through designing and installing a variety of LID BMPs that fit into existing infrastructure and creating ongoing educational opportunities for the public, university students, stormwater professionals, and construction contractors. </p>
    </div>
    <div class="columns large-6 small-6" style="height:100%;">
        <iframe width="100%" height="100%" src="https://www.youtube.com/embed/tXV5SV7gWQE?autoplay=0"frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
    </div>
    <div class="columns small-2 large-2 arrow">
        <a href="/research/featured-items/">
            <i class="fa fa fa-angle-right"></i> 
        </a>
    </div>
</div>
</div>
<div class="columns large-12 medium-12" id="research-band-small-screen">
   <div class="columns large-12 research-main-band overlay" style="background-image: url('/img/owp-large-image-03.jpg');">
    <div class="columns large-12 medium-12" id="featured-item-text">
        <div class="columns large-10 medium-10 small-10">
            <h1>Featured Items</h1>
            <p> The Campus LID Project brought together a diverse group of organizations to create significant environmental and social improvements through designing and installing a variety of LID BMPs that fit into existing infrastructure and creating ongoing educational opportunities for the public, university students, stormwater professionals, and construction contractors.</p>
            <div id="featured-vid">
                <iframe width="100%" height="100%"src="https://www.youtube.com/embed/tXV5SV7gWQE?autoplay=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
            </div>
        </div>
        <div class="columns small-2 large-2 medium-2 arrow">
            <a href="/research/featured-items/"> <i
                class="fa fa fa-angle-right"></i></a>
            </div>
        </div>
    </div>
    
</div>