<div id="research_str_bands">
    <div class="columns large-12 research-main-band overlay" style="background-image: url('/img/DSC07043.jpg');">
        <div class="columns small-5" style="padding:0; height:100%;">
            <img width="100%" src="/img/clarifier.jpg" style="height:100%;">
        </div>
        <div class="columns small-4" id="wastewater-text"> 
            <h1>Wastewater</h1>
            <p> Provide expertise in managing programs, planning and implementing studies, evaluating data, and conducting feasibility assessments for wastewater treatment programs. </p> 
        </div>
        <div class="columns large-3 medium-3 small-2 arrow" style="height:100%;">
            <a href="/research/wastewater/"> <i class="fa fa fa-angle-right"></i> </a>
        </div>
    </div>
</div>

<div id="research-band-small-screen">
    <div class="columns large-12 research-main-band overlay" style="background-image: url('/img/DSC07043.jpg');">
        <div class="columns large-12 medium-12" id="featured-item-text">
            <div class="columns large-10 medium-10 small-10">
                <h1>Wastewater</h1>
                <p>Provide expertise in managing programs, planning and implementing studies, evaluating data, and conducting feasibility assessments for wastewater treatment programs.</p>
                <div id="featured-vid">
                    <img width="100%" src="/img/clarifier.jpg"
                    style="height:100%;">
                </div>
            </div>
            <div class="columns small-2 large-2 medium-2 arrow">
                <a href="/research/featured-items/"> <i
                    class="fa fa fa-angle-right"></i></a>
                </div>
            </div>
        </div>  
    </div>