<section>
	<div class="main-carousel">
		<div class="slides">
			<div class="owp-slides">
				<div class="slide01">
					<div class="captions">
						<h1>Operator Training</h1>
						<p>
							Careers in water and wastewater plant operation offer great pay and benefits, room for advancement, and a stable, recession-proof job market. Our operator training courses can help you start a new career or enhance your existing one. 
						</p>
						<a href="/operator-training/courses/correspondence-courses/drinking-water-courses/" class="button success"> Find a course <i class="fa fa-chevron-right"></i></a>
					</div>
					<img src="/img/header/vineyard-02.jpg" alt="Photo of Vinyard treatment plant, Elk Grove, CA"/>
				</div>

				<div class="slide02">
					<div class="captions"><h1>Stormwater Certification</h1>
						<p>
							OWP provides CASQA with administrative and technical support for its training programs for the Construction and Industrial General Permits. This online service enables qualified professionals to set up an account where they can take exams, access CGP and IGP publications, configure contact information for the free Public Lookup tool, and complete QISP training.
						</p>
						<a href="#" class="button success">
							Register for an exam <i class="fa fa-chevron-right"></i>
						</a>
						<a href="#" class="button success" style="margin-left:2px;">
							Learn about QISP training <i class="fa fa-chevron-right"></i>
						</a>
					</div>
					<img src="/img/header/stormwater.jpg" alt="Image of Sac State rain garden"/>
				</div>

				<div class="slide03">
					<div class="captions">
						<h1>Applied Research</h1>
						<p>
							Our research group engineers and scientists perform and manage research efforts focused on water quality issues, including developing and testing methods to improve water quality. Our researchers provide technical advice, data analysis and modeling, and planning assistance based on accurate information and good science.
						</p>
						<a href="/research/" class="button success">Learn more
							<i class="fa fa-chevron-right"></i></a>
						</div>
						<img src="/img/header/research-03.jpg" alt="Image of water quality sampling"/>
					</div>
				</div>

			</div>

		</div>
	</section>