<h5>Stormwater Services</h5>
<div class="columns small-3">
    <div class="list-nav">
        <ul class="list-unstyle">
            <li class='{{ if eq .Params.service "npdes" }} item {{ end }}'> 
                <a href="/research/stormwater/npdes/"> NPDES program management assistance</a>
            </li>
            <li class='{{ if eq .Params.service "bmp" }} item {{ end }}'>
                <a href="/research/stormwater/bmp-and-runoff/"> BMP and runoff assessments</a>
            </li>
            <li class='{{ if eq .Params.service "erosion" }} item {{ end }}'>
                <a href="/research/stormwater/erosion/"> Erosion control evaluations</a>
            </li>
            <li class='{{ if eq .Params.service "lid" }} item {{ end }}'>
                <a href="/research/stormwater/lid/"> LID design and implementation</a>
            </li>
            <li class='{{ if eq .Params.service "financing" }} item {{ end }}'>
                <a href="/research/stormwater/stormwater/"> Stormwater financing</a>
            </li>
            <li class='{{ if eq .Params.service "regional" }} item {{ end }}'>
                <a href="/research/stormwater/regional-planning/"> Regional planning</a>
            </li>
            <li class='{{ if eq .Params.service "training" }} item {{ end }}'>
                <a href="/research/stormwater/training/"> Training</a>
            </li>
        </ul>
    </div>
</div>