<div id="portfolio" class="row extra" style="padding-bottom:0;">
	<h3 class="header register-form-header">University Connection</h3>
	<div class="thumbnail" style="text-align:left;">
		<div class="columns large-5 medium-5">

			<img id="connectimg" src="/img/20150826_084713.jpg">
		</div>
		<div class="columns large-7 medium-7 small-12">

			<blockquote class="large-quote">OWP is an active part of the Sac State community, and the larger post-secondary educational community in Sacramento.
			</blockquote>
			<ul style="list-style-type: none;line-height:28px;">
				<li><a href="/university-connection/owp-fellowship/">OWP Fellowship Opportunities</a></li>
				<li><a href="/university-connection/student-assistants/">Student Assistants</a></li>
				<li><a href="/university-connection/teaching/">Teaching</a></li>
			</ul>
		</div>
	</div>
</div>